body {
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
}

.bg {
    width: 1366px;
    height: 768px;
    background: #1b0601 url(Images/background.jpg) center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 44px;
    width: 1065px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 45px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.logoimg {
    display: block;
    width: 46px;
    height: 44px;
    margin-right: 15px;
    background: url(Images/logo.png) center no-repeat;
}

.logoimg:hover {
    background: url(Images/logohover.png) center no-repeat;
}

.logoname {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logolink:hover {
    color: #f26522;
}

.abovelogo {
    font-size: 29px;
}

.underlogo {
    font-size: 18px;
    display: inline-block;
}

.contacts {
    text-align: right;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.link: hover {
    opacity: 0.85;
    color: #f26522;
}

.link: focus {
    opacity: 0.85;
    color: #f26522;
}

.gallery {
    max-width: 1065px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.gallerybg {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.firstblock {
    background: #88b5cc url(Images/Img1.jpg) center no-repeat;
}

.categoryname {
    font-size: 18px;
}

.secondblock {
    background: #88b5cc url(Images/Img2.jpg) center no-repeat;
    position: relative;
    overflow: hidden;
}

.hoverinfo {
    width: 300px;
    height: 63px;
    text-align: left;
    position: absolute;
    bottom: 0;
    background-color: #f26522;
    opacity: 0;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.secondblock:hover .hoverinfo {
    opacity: 1;
    transition: 0.4s;
}

.categorylink:hover {
    color: #f26522;
}

.aboveinfo {
    font-size: 10px;
    text-decoration: none;
    outline: none;
}

.underinfo {
    font-size: 20px;
    text-decoration: none;
    outline: none;
}

.leftinfo {
    cursor: default;
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    outline: none;
}

.rightinfo {
    margin-right: 20px;
}

.gallery-btn {
    font-size: 14px;
}

.gallery-btn::after {
    content: ' >';
}

.thirdblock {
    background: #88b5cc url(Images/Img3.jpg) center no-repeat;
}

.fourthblock {
    background: #88b5cc url(Images/Img4.jpg) center no-repeat;
}

.fifthblock {
    background: #88b5cc url(Images/Img5.jpg) center no-repeat;
}

.sixthblock {
    background: #88b5cc url(Images/Img6.jpg) center no-repeat;
}

.categoryname {
    margin-bottom: 55px;
}

.footer {
    font-size: 12px;
    margin-bottom: 20px;
}